<div class="container">
    <h3>Archivos</h3>
    <select class="form-select" [(ngModel)]="selectedAction" (change)="resetSelect()">
        <option value='' class="bg-primary" >Action</option>
        <option value="add">Add</option>
        <option class="bg-danger" value="delete">Delete</option>
      </select>
    <table class="table" id="list">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Nombre</th>
                <th scope="col">Fecha</th>
                <th scope="col">Dueños</th>
            </tr>
        </thead>
        <tbody>
            @for (item of files; track $index) {
            <tr>
                <th ><input type="checkbox" [checked]="selected.includes(item)" (change)="logCheck($index)"></th>
                <td>{{item.name}}</td>
                <td>{{item.creation | date}}</td>
                <td>@for (owner of item.owners; track $index) {
                <img [src]="owner.avatarUrl" [alt]="owner.name" class="img-fluid thumb">    
                }</td>
            </tr>
            }
        </tbody>
    </table>
</div>